# Web Application & API
django
djangorestframework
djangorestframework-simplejwt

# Image Processing and OCR
opencv-python
pytesseract
numpy

# AI/ML Model
tensorflow

# Database & Server
psycopg2-binary
gunicorn
